<h2>The best etisons at the moment:</h2>
<ul>
    {{#each model as |etisons|}}
        <li>Name:{{etisons.etisonName}}, id:{{etisons.id}}</li>
        <img src="{{etisons.image}}" height="300px" width="350">
    {{/each}}
</ul>
